<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Recuperar Senha</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-gray-200 min-h-screen flex items-center justify-center">
    <!-- Botão de Logout -->
    {% if 'user_id' in session %}
    <div class="absolute top-4 right-4">
        <a href="{{ url_for('logout') }}" class="bg-red-500 text-white p-2 rounded hover:bg-red-600 transition duration-200">Sair</a>
    </div>
    {% endif %}
    
    <div class="container mx-auto p-6 max-w-md bg-gray-800 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold mb-6 text-center text-yellow-400">Recuperar Senha</h1>
        <form action="{{ url_for('forgot_password') }}" method="POST">
            <input type="email" name="email" placeholder="Email" class="border border-gray-600 bg-gray-700 text-gray-200 p-3 mb-4 w-full rounded focus:outline-none focus:ring-2 focus:ring-yellow-500" required>
            <button type="submit" class="bg-yellow-500 text-white p-3 w-full rounded hover:bg-yellow-600 transition duration-200">Enviar Link de Recuperação</button>
        </form>
    </div>
</body>
</html>
